    .box-container {
        display: flex;
        flex-wrap: wrap;
    }
    body {
        background-color: teal;
        border-style: 8px double;
        border-color: black;
    }
    .header {
        background-color: lightgrey;
        width: 100%;
        border: 10px outset grey;
        border-top: 10px;
        padding: 5px;
        margin: 5px;
        display: flex;
    }
    .contact {
        background-color: black;
        color: lightgray;
        width: 310px;
        border: 10px inset grey;
        padding: 25px;
        padding-top: 10px;
        margin: 5px;
        margin-left: 220px;
    }
    #name {
        display: flex;
        flex-wrap: wrap;
    }
    .image {
        alt: "Image";
        height: 200px;
        width: 175px;
        margin-left: 5px;
        display: flex;
    }
    h1 {
        margin-left: 25px;
    }
    h3 {
        margin-left: 200px;
        margin-top: 0px;
    }
    .bio {
        background-color: lightgrey;
        width: 200px;
        border: 10px inset grey;
        padding: 25px;
        padding-top: 10px;
        margin: 5px;
    }
    .education {
        background-color: lightgrey;
        width: 200px;
        border: 10px inset grey;
        padding: 25px;
        padding-top: 10px;
        margin: 5px;
    }

    .interests {
        background-color: lightgrey;
        width: 200px;
        border: 10px inset grey;
        padding: 25px;
        padding-top: 10px;
        margin: 5px;
    }
    .experience {
        background-color: lightgrey;
        width: 500px;
        border: 10px inset grey;
        padding: 25px;
        margin: 5px;
        flex-wrap: wrap;
    }
    .skills {
        background-color: lightgrey;
        width: 307px;
        border: 10px inset grey;
        padding: 25px;
        padding-top: 10px;
        margin: 5px;
        flex-wrap: wrap;
    }