
.sidebar-wrapper {
    background: #42A8C0;
    position: absolute;
    right: 0;
    width: 240px;
    height: 100%;
    min-height: 800px;
    color: #fff;
  }
  
  .sidebar-wrapper a {
    color: #fff;
  }
  
  .sidebar-wrapper .profile-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }
  
  .sidebar-wrapper .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .sidebar-wrapper .tagline {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .sidebar-wrapper .profile {
    margin-bottom: 15px;
    max-width: 175px;
  }

  .sidebar-wrapper .contact-list .svg-inline--fa {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
  }
  
  .sidebar-wrapper .contact-list li {
    margin-bottom: 15px;
  }
  
  .sidebar-wrapper .contact-list li:last-child {
    margin-bottom: 0;
  }
  
  .sidebar-wrapper .contact-list .email .svg-inline--fa {
    font-size: 14px;
  }
  
  .sidebar-wrapper .container-block {
    padding: 30px;
  }
  
  .sidebar-wrapper .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .sidebar-wrapper .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .sidebar-wrapper .education-container .item {
    margin-bottom: 15px;
  }
  
  .sidebar-wrapper .education-container .item:last-child {
    margin-bottom: 0;
  }
  
  .sidebar-wrapper .education-container .meta {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 14px;
  }
  
  .sidebar-wrapper .education-container .time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
  }
  
  .sidebar-wrapper .languages-container .lang-desc {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .sidebar-wrapper .languages-list {
    margin-bottom: 0;
  }
  
  .sidebar-wrapper .languages-list li {
    margin-bottom: 10px;
  }
  
  .sidebar-wrapper .languages-list li:last-child {
    margin-bottom: 0;
  }
  
  .sidebar-wrapper .interests-list {
    margin-bottom: 0;
  }
  
  .sidebar-wrapper .interests-list li {
    margin-bottom: 10px;
  }
  
  .sidebar-wrapper .interests-list li:last-child {
    margin-bottom: 0;
  }
  
@media (max-width: 767.98px) {
    .sidebar-wrapper {
      position: static;
      width: inherit;
    }
    .main-wrapper {
      padding: 30px;
    }
    .main-wrapper .time {
      position: static;
      display: block;
      margin-top: 5px;
    }
    .main-wrapper .upper-row {
      margin-bottom: 0;
    }
  }