

.skillset .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  
  .skillset .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  
  .skillset .level-bar {
    height: 12px;
    background: #f5f5f5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  
  .skillset .theme-progress-bar {
    background: #68bacd;
  }
  



@media (min-width: 992px) {
    .skillset .level-title {
      display: inline-block;
      float: left;
      width: 30%;
      margin-bottom: 0;
    }
  }
  